
<h5><a href="http://localhost:83/">Главная страница</a></h5>

<br/>
<br/>
<br/>

<h5>Список сгенерированных сущностей</h5>
<ul>
    <li><a href="bg/DIC/BG_Payments">DIC/BG_Payments</a></li>
    <li><a href="bg/TI/TaxPayments">TI/TaxPayments</a></li>
</ul>