@model object 

<a id="@ViewData.TemplateInfo.GetFullHtmlFieldId("")"
   class="k-link" 
   target="_blank"
   style="line-height: 2em; line-height: calc(2em + 2px);"
   data-href="/hangfire/jobs/details/{0}"
   data-bind="text: @ViewData.TemplateInfo.GetFullHtmlFieldName(""), href: @ViewData.TemplateInfo.GetFullHtmlFieldName("")"></a>