@using System
@using System.Linq
@using Nat.Web.Core.Resources
@using Kendo.Mvc.UI
@using Kendo.Mvc.UI.Fluent
@using Nat.Web.Core.Kendo.Extensions
@using Nat.Web.Core.System.Annotations
@using Nat.Web.Core.System.Extensions
@using Newtonsoft.Json
@model object
@{
    WidgetFactory<Object> kendo = Html.Kendo();
    var settings = ViewData.ModelMetadata.GetPropertyAttr<ForeignKeyAttribute>();
    var title = ViewData.ModelMetadata.GetPropertyAttr<TitleAttribute>()?.GetTitle() ?? "";
    var json = settings.GetOptionsJson(ViewData, true);
    var dropdown = kendo.MultiSelectFor(m => m)
        .ValuePrimitive(false)
        .Placeholder(SharedResources.SNotSelected)
        .Delay(750)
        .MinLength(1)
        .AutoBind(false)
        .TagTemplateId(ViewData.TemplateInfo.GetFullHtmlFieldName("") + "_ClientTemplate")
        .Filter(FilterType.StartsWith);

    if ((bool?) ViewBag.EditorTemplateDeferred == true)
    {
        dropdown.Deferred();
    }
}

@(dropdown
    .InitForeignKey(settings, json)
    .DataSource(ds => ds.InitForeignKey(settings, json)
        .ServerFiltering(true)
        .ServerPaging(true)
        .PageSize(20))
    .HtmlAttributes(new { style = "width:80%; width:calc(100% - 29px)", title }))
<a class="m-linkSelectForCombobox k-button" href="javascript:void(0)" title="@SharedResources.SSelectInWindow" onclick="Nat.F.OnOpenSelectDialogClick(this, @json);"><span class="fas fa-share-square fa-flip-horizontal"></span></a>