<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
    <add name="BVURequestAdapterConnection" connectionString="CertPath=~/App_Data/GOSTKNCA_13a3741b52d7bf860aab199b56fad1f4652e357b.p12;CertPin=Qwerty12;Login=bvuWS;Password=WService_2019;serviceUrl=http://localhost:11046/Services/BVUHandler1.ashx;logMessagesPath=C:\temp\logs\" />
		<add name="ScreeningCompletedFolderConnection" connectionString="Folder=C:\temp\ScreeningCompleted" />
		<add name="PreScreeningFolderConnection" connectionString="Folder=C:\temp\PreScreening" />
		<add name="ScreeningCompletedFolderConnection--" connectionString="Folder=C:\temp\ScreeningCompleted;Login=nat\daxtest2;Password=1q2w3e4r" />
		<add name="FastiPutFolderConnection" connectionString="Folder=C:\temp\FastiPut" />
		<add name="FastiCompletedFolderConnection" connectionString="Folder=C:\temp\FastiCompleted" />
		<add name="PaymentExportConnection" connectionString="Folder=C:\temp\PaymentExport\{0:yyyy}\{0:MMMM}\CashFlow\{0:ddMM}" />
		<add name="MCC_devConnectionString" connectionString="Data Source=.\mssql;Initial Catalog=MCC-dev;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!--add name="MCCConnection" connectionString="Server=172.17.163.119;Database=mcc-develop;User ID=sa;Password=1q2w3e$R" providerName="System.Data.SqlClient" />
		<add name="DefaultStoreConnection" connectionString="Server=172.17.163.119;Database=mcc-develop;User ID=sa;Password=1q2w3e$R" providerName="System.Data.SqlClient" /-->
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="DevResetPassword" value="true" />
		<add key="DevSuccessCallNB" value="false" />
		<add key="DevDisableErrorPage" value="true" />
		<add key="BGIntegration.TempDevData" value="false" />
		<add key="HangfireServer.Enabled" value="true" />
		<!--<add key="HangfireServer.Enabled" value="false" />-->
		<!--<add key="HangfireServer.Enabled" value="true" />-->
		<add key="NBWSResponseException-Skip-Codes!!!" value="102" />
		<add key="Payments.AllowNotCheckedContract" value="true" />
		<add key="MT111.CheckCloseHistory" value="false" />
		<add key="EventLogService.LogView" value="false" />
		<add key="RescreeningFolder" value="c:\Temp\ReScreening\" />
		<add key="Screening-CompletedFolder-DeleteBuffer" value="C:\temp\Screening-DeleteBuffer" />
		<add key="PreScreening-Folder-DeleteBuffer" value="C:\temp\PreScreening-DeleteBuffer" />
		<add key="Fasti-CompletedFolder-DeleteBuffer-keepsave" value="false" />
		<add key="Fasti-CompletedFolder-DeleteBuffer" value="C:\temp\Fasti-DeleteBuffer" />
		<add key="Fasti-Sender" value="FNBDITXX" />
		<add key="Fasti-Receiver" value="FNBDITXX" />
		<add key="Fasti-idPrefix" value="NC" />
		<add key="CSI_Application_ID" value="147355" />
		<add key="CSI_Application_Environment" value="DEV" />
		<add key="EERS_FileName" value="C:\temp\eers147355.txt" />
		<add key="EERS_UseTransliterate" value="false" />
		<add key="IDM_Resource" value="ManagementCurrencyContracts Develop" />
		<add key="SiteMinder.Enabled" value="False" />
		<add key="SiteMinder.LogoffCookie" value="SOEID;DEPTNUMBER;EMAIL;FNAME;FULLNAME;GEID;LNAME;PNUMBER;RITSID;SMSESSION" />
		<add key="FileLogEnabled" value="false" />
		<add key="CyberArk.Enabled" value="False" />
		<add key="CyberArk.AppID" value="ManagementCurrencyContracts" />
		<add key="CyberArk.Folder" value="root" />
		<add key="CyberArk.Safe" value="MSSQLDBSafe" />
		<add key="CyberArk.Port" value="18923" />
		<add key="CyberArk.Reason" value="Initialize connection" />
		<add key="CyberArk.Object-MCC.DB" value="MSSQL-ManagementCurrencyContracts" />
		<add key="CyberArk.Object-MCC.Screening" value="ScreeningCompletedFolder-ManagementCurrencyContracts" />
		<!-- Кол-во дней без санкций на внесение корректировок в MT-111 -->
		<add key="MT-111-CorrectionDayLimit-WithoutPenalty" value="180" />
		<add key="MCC.MT111-ValidationRegistrationDate.Enabled" value="true" />
		<add key="MCC.MT111-ValidationChangesDate.Enabled" value="true" />
		<!-- Значение по умолчанию "Копия", при отправки уведомления в обработке платежей -->
		<add key="Payments.EmailCopy!" value="*ICG QZ Citiservice &lt;kz.cs@imceu.eu.ssmb.com&gt;" />
		<add key="Payments.EmailCopy" value="CurrencyControl &lt;new_ccudb@nat.kz&gt;" />

		<add key="Advising.EmailCopy" value="Advising &lt;advising@nat.kz&gt;" />
		<add key="Processing.EmailCopy" value="Processing &lt;processing@nat.kz&gt;" />


		<!-- Ссылка на сайт НБ РК, для загрузки файла 'Сведения о действующих учетных номерах НБ РК' -->
		<add key="UNNBsSiteLink" value="https://nationalbank.kz/ru/page/monitoring-valyutnyh-operaciy_str" />
		<add key="UNNBsSiteLinkName" value="Действующие учетные номера" />
		<!-- Прямая ссылка для загрузки файла 'Сведения о действующих учетных номерах НБ РК' -->
		<add key="UNNBsDownloadLink" value="" />
		<add key="Transaction.Stopwatch-log" value="2" />
		<add key="Transaction.Stopwatch-linenumber" value="5" />
		<add key="MCC_Payments.AnyDocumentOnScreening-mode" value="1" />
		<add key="MCC.ValidateKOdKBe.Enabled" value="true" />
		<add key="VK.DocuFlowSendRequestJob-Master.Cron" value="15 * * * *" />
		<add key="DocumentsProcessing.PdfTableIndentFix.Enabled" value="false" />
		<add key="DocumentsProcessing.DocxForPdfFixTrGridBefore.Enabled" value="true" />

		<add key="MCC.DocuflowXml.Response" value="C:\temp\DocuflowXml.Response" />
		<add key="MCC.DocuflowXml.ResponseFailed" value="C:\temp\DocuflowXml.Response\Failed" />
		<add key="MCC.DocuflowXml.Response-Auto" value="C:\temp\DocuflowXml.Response-Auto" />
		<add key="MCC.DocuflowXml.Request" value="C:\temp\DocuflowXml.Request" />
		<add key="MCC.DocuflowXml.IntegrationEnabled--" value="true" />
		<add key="MCC.DocuflowXml.ParseRegex" value="^[\w-]+_(?&lt;CollectionID&gt;\w+)_(Screening|DefineMaster|Rescreening|Close)\.xml$" />
		<add key="MCC.DocuflowXml.RequestFileName" value="{0:N}_{1}_{2}.xml" />

		<!--<add key="VK.DocumentsOnScreeningAtEndDayJob-DEVDate" value="17.10.2022" />-->

		<!-- Импорт выписок в бинарном формате -->
		<add key="StoreScanner.BinaryEnabled" value="true" />
		<!-- Настройка задач CitiStore -->
		<add key="CitiStore.FilesScannerJob.Cron!" value="* 9-18 * * *" />
		<add key="CitiStore.CitiStatementJob.Cron!" value="0 8 1 * *" />
		<add key="CitiStore.AllDailyJobs.Cron!" value="0 8 * * *" />
		<add key="CitiStore.TempJob.Cron!" value="0 8 * * *" />
		<add key="CitiStore.StatementsJob.Cron-" value="0 8 * * *" />
		<add key="CitiStore.MT103Job.Cron-" value="10 8 * * *" />
		<add key="CitiStore.AdviceJob.Cron-" value="20 8 * * *" />
		<add key="CitiStore.BGPaymentsJob.Cron" value="0,30 8-20 * * *" />
		<add key="CitiStore.SamrukJob.Cron-" value="40 8 * * *" />
		<add key="CitiStore.BaiterekJob.Cron-" value="40 8 * * *" />
		<add key="CitiStore.RatesJob.Cron!" value="0 9-18 * * *" />
		<add key="CitiStore.MT102Job.Cron!" value="0 6,13 * * *" />
		
		<!-- Путь источники данных для CitiStore -->
		<add key="CitiStore.AbisFlex.SourcePath-1" value="d:\Temp\CitiStore-parse files" />
		<add key="CitiStore.Rates.SourcePath-1" value="c:\Temp\Rates-forSend\Standard Rates {0:yyyy}\{0:MM} {0:MMM} {0:yy}\" />
		<add key="CitiStore.Rates.SkipIfContains-1" value="Cards Only" />
		<add key="CitiStore.MT102.SourcePath-1" value="c:\Temp\MT102-forSend\" />
		<!-- Путь отправки файлов формируемых в CitiStore -->
		<!--<add key="CitiStore.SendReportsToClientPath" value="d:\Temp\citiStore-send\C{0}\" />
    <add key="CitiStore.SendReportsToClientPath-Accounts" value="d:\Temp\citiStore-send\Accounts\C{0}\" />
    <add key="CitiStore.SendReportsToClientPath-Baiterek" value="d:\Temp\citiStore-send\{0}Files\" />
    <add key="CitiStore.SendReportsToClientPath-Samruk" value="d:\Temp\citiStore-send\SamrukFiles\" />
    <add key="CitiStore.SendReportsToClientPath-Baiterek" value="d:\Temp\citiStore-send\BaiterekFiles\" />-->
		<add key="CitiStore.SendReportsToPath-Default" value="d:\Temp\citiStore-send\" />
		<add key="CitiStore.SendReportsToPath-Samruk" value="d:\Temp\citiStore-send\SamrukFiles\" />
		<add key="CitiStore.SendReportsToPath-Baiterek" value="d:\Temp\citiStore-send\BaiterekFiles\" />
		<add key="CitiStore.SendReportsToPath-DEV" value="true" />
		<add key="TempFile-Path" value="C:\temp\MCC-TempFiles\" />
		<add key="ADM.DeleteTempFilesJob-ExpireTime" value="1.00:00:00" />
		<add key="ADM.DeleteTempFilesJob-Path" value="C:\temp\MCC-TempFiles\" />
		<add key="ADM.DeleteTempFilesJob.Cron" value="0 7 * * *" />
		<add key="ADM.DeleteNBLogsFilesJob-ExpireTime" value="30.00:00:00" />
		<add key="ADM.DeleteNBLogsFilesJob.Cron" value="0 7 * * *" />
		<add key="CitiStore.StatementsJob-DEVDate" value="11.11.2022" />
		<add key="CitiStore.StatementsKazJob-DEVDate" value="11.11.2022" />
		<add key="ADM.LoadNBUNsJob.Cron" value="0 0 31 2 *" />

		<add key="CCR.AutoSuccessMTAnswerJob.Cron" value="*/5 * * * *" />
		<add key="CCR.AutoRejectMTAnswerJob.Cron" value="0 0 31 2 *" />

    <add key="VK.PaymentExportJob-RunOut.Cron" value="0 12,14,18 * * *" />
    <add key="VK.PaymentExportJob-RunIn.Cron" value="0 0 31 2 *" />
    <add key="VK.DocumentsOnScreeningAtEndDayJob.Cron" value="0,30 17,18 * * *" />
		<add key="VK.BreachNoteJob.Cron" value="0 6 * * *" />


		<!--Задержка повторной отправки запроса в сервис НБРК (ЗВТ), в секундах-->
		<add key="CCR.NbrkServiceRepeatDelay" value="30" />

		<!-- Адрес сервера приложения для формирования ссылки на открытие файла из письма WEBCC -->
		<add key="WEBCC.UrlForOpenFileFromEmail" value="http://localhost" />

		<add key="MCC.AutoAcceptPaymentStatusJob.Cron" value="*/5 * * * *" />
		<add key="MCC.AutoRejectPaymentStatusJob.Cron" value="0 0 31 2 *" />
		<add key="MCC.AutoReplyDocuFlowSendResponseJob.Cron" value="*/5 * * * *" />
		<add key="CitiStore.StatementsMonthlyJob-DEVDate" value="01.11.2022" />
		<add key="CitiStore.StatementsMonthlyKazJob-DEVDate" value="01.11.2022" />
		<add key="CitiStore.JobsArchiveSize" value="1" />
		<!--
    
    <add key="CitiStore.AdviceMonthlyJob-DEVDate" value="08.10.2022" />
    <add key="CitiStore.CitiStatementJob-DEVDate" value="08.10.2022" />
    <add key="CitiStore.MT103Job-DEVDate" value="08.10.2022" />
    <add key="CitiStore.StatementsJob-DEVDate" value="08.10.2022" />
    <add key="CitiStore.AdviceJob-DEVDate" value="08.10.2022" />
    <add key="CitiStore.SamrukJob-DEVDate" value="08.10.2022" />
    <add key="CitiStore.BaiterekJob-DEVDate" value="08.10.2022" />
    
    <add key="CitiStore.MT103Job.SendPdfAsOneFile" value="true" />
    <add key="CitiStore.MT103Job-DEVStartDate" value="29.10.2021" />
    <add key="CitiStore.StatementsJob.SendPdfAsOneFile" value="true" />
    <add key="CitiStore.StatementsJob-DEVStartDate" value="25.12.2017" />
    <add key="CitiStore.AdviceJob.SendPdfAsOneFile" value="true" />
    <add key="CitiStore.AdviceJob-DEVStartDate" value="25.12.2017" />
    <add key="CitiStore.BGPaymentsJob.SendPdfAsOneFile" value="true" />
    <add key="CitiStore.BGPaymentsJob-DEVDate!" value="19.01.2022" />
    <add key="CitiStore.BGPaymentsJob-DEVStartDate" value="14.03.2022" />
    <add key="CitiStore.SamrukJob-Zip" value="false" />
    <add key="CitiStore.SamrukJob-DEVStartDate" value="29.10.2021" />
    <add key="CitiStore.BaiterekJob-Zip" value="false" />
    <add key="CitiStore.BaiterekJob-DEVStartDate" value="29.10.2021" />
    -->
		<add key="CitiStore.Turnovers-EndCurrency" value="true" />
		<add key="CitiStore.StatementsExcel-RateSettings" value="true" />
		<add key="BGIntegration.Version-GetPayments" value="2" />
		<!-- Путь отправки подписанных файлов из KZ Digital signature -->
		<add key="DigitalSignature.SendFileToClientPath" value="d:\Temp\DigitalSignature-send\{0}\" />
		<add key="DigitalSignature.SendFileToClientPath-Default" value="d:\Temp\DigitalSignature-Default\" />
		<add key="DigitalSignature.SendFilesToPath-DEV" value="true" />
		<!-- Кол-во дней для перевода документов KZ Digital signature в архив -->
		<add key="KZ-Digital-signature-Day-ToArchive" value="30" />
		<!-- параметр для включения/отключения отправки документа с подписями в формате pdf клиенту. -->
		<add key="IsSendDigitalSignaturePdf" value="true" />
		<!-- Путь CMS контейнеров от клиентов -->
		<add key="KZ-Digital-signature-CmsInboxPath" value="C:\\temp\\CmsInbox" />
		<add key="SmtpClient.From-CurrencyControl" value="webcc &lt;daxtest2@nat.kz&gt;" />
		<add key="SmtpClient.From-CurrencyControl_ADV" value="Advising &lt;daxtest2@nat.kz&gt;" />
		<add key="SmtpClient.From-CurrencyControl_PROC" value="Processing &lt;daxtest2@nat.kz&gt;" />
		<add key="SmtpClient.From-Signatories" value="Signatories &lt;daxtest2@nat.kz&gt;" />
		<add key="SmtpClient.From-DigitalSignature" value="DigitalSignature &lt;daxtest2@nat.kz&gt;" />
		<add key="SmtpClient.From-CitiStore" value="CitiStore &lt;daxtest2@nat.kz&gt;" />
		<add key="SmtpClient.From-Administration" value="webcc Administration &lt;daxtest2@nat.kz&gt;" />
		<add key="SmtpClient.Copy-Signatories" value="sergey.shpakovskiy@nat.kz" />
		<!--<add key="BGIntegration.TaxBgUser" value="User" />
		<add key="BGIntegration.TaxBgPassword" value="Password" />-->
		<!--<add key="HangfireServer.Enabled" value="false" />-->

		<!-- Адрес сервера приложения для формирования ссылки на открытие файла из письма KZ Digital signature -->
		<add key="DigitalSignature.UrlForOpenFileFromEmail" value="http://127.0.0.2" />
		<add key="CAP.ProcessContractAutoPaymentsJob.OutWaitTime" value="00:05:00" />
		<add key="CAP.ProcessContractAutoPaymentsJob.InEndTime" value="17:00:00" />
		<add key="CAP.ProcessContractAutoPaymentsJob.Cron" value="* * * * *" />

    <!-- Путь отправки подписанных файлов из KZ Digital signature -->
    <add key="SigningDocuments.SignedLogsBookExport" value="d:\Temp\SignedLogsBookExport\" />
    <add key="SigningDocuments.SignedLogsBookImport" value="d:\Temp\SignedLogsBookImport\" />
    <add key="SigningDocuments.SignedLogsBookDefault" value="d:\Temp\SignedLogsBookDefault\" />
    <add key="SigningDocuments.SignedContractBlanks" value="d:\Temp\SignedContractBlanks\" />
	<add key="SigningDocuments.SendToDelphiContractCertificate.Enabled" value="true" />

     <add key="WebConfigUI.Enabled" value="false" />
    <add key="DocumentsProcessing.DocxForPdfFixTrGridBefore.Enabled" value="false" />
    <add key="ADM.TimeZone" value="West Asia Standard Time" />
    <add key="WebConfigUI.Enabled" value="false" />

    <add key="VK.RepatriationDateBreachOnDateJob.Cron" value="0 9 * * *" />
    <add key="CAP.ProcessContractAutoPaymentsJob.Cron" value="*/30 * * * *" />

  </appSettings>
	<!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<authentication mode="Forms" />
		<compilation debug="true" tempDirectory="" optimizeCompilations="false" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.6" />
		<identity impersonate="false" />
		<globalization culture="ru-RU" uiCulture="ru-RU" />
		<customErrors mode="Off" />
		<!--
    <roleManager defaultProvider="MCCRoleProvider" enabled="true">
      <providers>
        
      </providers>
    </roleManager>-->
		<roleManager defaultProvider="MCCRoleProvider" cacheRolesInCookie="false" createPersistentCookie="false">
			<providers>
				<remove name="AspNetWindowsTokenRoleProvider" />
				<add name="MCCRoleProvider" type="Administration_ADM.Security.MCCRoleProvider, Administration_ADM, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</providers>
		</roleManager>
		<authorization>
			<allow users="?" />
		</authorization>
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<httpErrors existingResponse="PassThrough" />
		<httpProtocol>
			<customHeaders>
				<add name="Content-Security-Policy" value="default-src 'self' data: 'unsafe-inline' 'unsafe-eval' wss: 127.0.0.1:13579" />
				<add name="Cache-Control" value="private, s-maxage=0" />
				<add name="X-Xss-Protection" value="1; mode=block" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubdomains" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BVUSignedRequestWSPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BVUSignedRequestWSPortBinding1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IStatement" maxReceivedMessageSize="209715200" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxStringContentLength="209715200" />
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IStatement" maxReceivedMessageSize="209715200">
          <readerQuotas maxStringContentLength="209715200" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <!--<binding name="NetTcpBinding_ITax">
          <security mode="Transport">
            <transport sslProtocols="Tls12" clientCredentialType="Certificate" />
          </security>
        </binding>-->
        <binding name="NetTcpBinding_ITax">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BVUSignedRequestWSPortBinding" contract="BVUSigReqWS_SvcRef.BVUSignedRequestWS" name="BVUSignedRequestWSPort" />
      <endpoint address="http://192.168.84.7:2222/payment/api/v1" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStatement" contract="BGServiceReference.IStatement" name="WSHttpBinding_IStatement" />
<!--      <endpoint address="http://192.168.84.7:2222/payment/api/v1/mex" binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IStatement" contract="BGServiceReference.IStatement" name="MetadataExchangeHttpBinding_IStatement" />-->
      <endpoint address="net.tcp://172.16.163.200:1234/TaxIntegration/api/v1" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITax" behaviorConfiguration="NetTcpBinding_ITaxClientCertificate" contract="BgTaxApi.ITax" name="NetTcpBinding_ITax">
        <identity>
          <dns value="IMEX.Server" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NetTcpBinding_ITaxClientCertificate">
          <!--<clientCredentials>
            <clientCertificate findValue="4bd1224deb656e2091d58a2e241d10e7089b8c30" storeLocation="CurrentUser" x509FindType="FindByThumbprint" />
          </clientCredentials>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="1073741824" maxSizeOfMessageToLog="1073741824" />
		</diagnostics>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
				<listeners>
					<add name="xml">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="d:\tmp\WCF_log.svclog" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.0" newVersion="2.4.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.net>
		<mailSettings>
			<smtp from="DefaultSMTP &lt;daxtest2@nat.kz&gt;">
				<network defaultCredentials="false" host="email.nat.kz" password="+M~&gt;CRx7(KLy" userName="daxtest2" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
	<!--<location path="content" >
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>-->
	<system.codedom>
		<compilers>
			<compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>

  <location path="PRD/PRD_Documents/SignVerify">
	  <system.web>
		  <httpRuntime maxRequestLength="102400" targetFramework="4.6" />
	  </system.web>
	  <system.webServer>
		  <security>
			  <requestFiltering>
				  <requestLimits maxAllowedContentLength="104857600" />
			  </requestFiltering>
		  </security>
	  </system.webServer>
  </location>


  <location path="PRD/PRD_Documents/SignFile">
	  <system.web>
		  <httpRuntime maxRequestLength="102400" targetFramework="4.6" />
	  </system.web>
	  <system.webServer>
		  <security>
			  <requestFiltering>
				  <requestLimits maxAllowedContentLength="104857600" />
			  </requestFiltering>
		  </security>
	  </system.webServer>
  </location>

</configuration>
